footer{
    padding: 10px;
}

.leftUpFooter a, #email {
    padding-left: 10px;
}

.partenaires, .contact {
    display: inline-block;
}

#titleFooter{
    font-weight: bold;
    margin-bottom: 5px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.partenaires img{
    padding: 20px;
    width: 30px;
    height: auto;
}