html, body {
  border: 0px;
  padding: 0px;
  height: 100%;
}

header {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 30px 0 30px;
}

.parallax {
  /* The image used */
  background-image: url("../data/Banner.jpg");

  /* Set a specific height */
  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
