html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: sans-serif;
}


header {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0 30px 0;
}

p {
  margin: 0px;
}

.parallax {
  /* The image used */
  background-image: url("../data/Banner.jpg");

  /* Set a specific height */
  height: 270px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("/nuitdelinfo/DefiPrincipal/data/Banner.jpg");

  /* Set a specific height */
  height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption img {
  width: 100%;
}

.captiontxt {
  position: absolute;
  left: 25%;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.main {
  background-color: #111;
  color: #fff;
  padding: 18px;
}

.citation {
  font-size: 1.5em;
  font-style: italic;
}

/* ### FOOTER ### */

footer{
  padding: 15px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.leftUpFooter a, #email {
  padding-left: 10px;
}

.partenaires, .contact {
  display: inline-block;
}

#titleFooter{
  font-weight: bold;
  margin-bottom: 5px;
}

.fa{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.partenaires img{
  padding: 20px;
  width: 80px;
  height: auto;
}

/* ### FIN FOOTER ### */

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
