html {
  border: 0px;
  padding: 0px;
}

header {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banniere {
  max-width:80%;
  margin-bottom: 15px;
}

.imageCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
